.App {
  text-align: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Optima, serif;
  background-color: #d21e1e;
}

body {
  padding: 0;
  margin: 0;
}
