.App {
  text-align: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: "Optima", sans-serif;
  background-color: #30786d;
  background-color: #30786d;
  opacity: 0.9;
  background-image: linear-gradient(#c6ceac, #2a685e);
  background-blend-mode: multiply;
}

body {
  animation:pulse 10s infinite;
  padding: 0;
  margin: 0;
}

@keyframes pulse {
  0%, 100% {
    background-color: #c9d1b0;
  }
  50% {
    background-color: #30786d;
  }
}


